*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(1, 16, 22);
  padding: 5em 2em;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1084px;
}

#main-heading {
  font-size: 3rem;
  margin-bottom: 1.5em;
}

.boxes,
.img-adjust {
  border: 2px solid white;
  padding: 2em;
  font-size: 1em;
  border-radius: 1em;
  margin: 0 auto;
}

.reveal-btn {
  background: transparent;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.img-adjust {
  margin-top: 1em;
  width: fit-content;
}

img {
  margin: 1em 0;
  outline: 2px dotted white;
  outline-offset: 1em;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
